# Problem Set 2

## Question 1

In [50]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [51]:
b()  #'calling b once will make the value a = 2'
b()  #'calling b twise will make a = 4'
b()  # 'calling b thrice will make a = 6'
print(a)  # hence the output is 6

6

## Question 2

In [3]:
def fileLength(filename):
    
    try:                          # for the condition 
        infile = open(filename)  
        content = infile.read()
        infile.close()
        return len(content)
    
    except FileNotFoundError:     
        return f"File {filename} not found."
        
        
print(fileLength('word.txt'))
print(fileLength('ord.txt'))

5345
File ord.txt not found.

## Question 3

In [52]:
class Marsupial:
    def __init__(self):
        self.pouch = []   # empty list 

    def put_in_pouch(self, item):
        self.pouch.append(item)  # appending the list 

    def pouch_contents(self):
        return self.pouch      # class for returning the list

In [53]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [6]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [7]:
k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [8]:
def collatz(x):    
    print(x)
    if x == 1: 
        return
    elif x % 2 == 0:    # if x is even
        collatz(x // 2)
    else:               # if x is odd
        collatz(3 * x + 1)

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [11]:
def binary(n):
    if n < 2:
        print(n, end="")
    else:
        binary(n // 2)
        print(n % 2, end="")

In [12]:
binary(0)

0

In [13]:
binary(1)

1

In [14]:
binary(3)

11

In [15]:
binary(9)

1001

## Question 6

In [54]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ''
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.indentation = int(tag[1:]) - 1
            except ValueError:
                pass

    def handle_data(self, data):
        if self.indentation >= 0:
            self.current_heading += data.strip()

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.headings.append((self.current_heading, self.indentation))
            self.current_heading = ''

    def print_headings(self):
        for heading, indentation in self.headings:
            print(' ' * indentation + heading)

In [55]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me
W3C Mission
 Principles

## Question 7

In [19]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin


def normalize_url(url):
    # Remove trailing slashes and query parameters
    url = url.rstrip('/').split('?')[0]
    return url


def webdir(url, depth, indent, visited=set()):
    if depth < 0:
        return

    normalized_url = normalize_url(url)
    if normalized_url in visited:
        return

    visited.add(normalized_url)

    indent_spaces = ' ' * indent
    print(indent_spaces + url)

    try:
        response = requests.get(url)
        content = response.text
        soup = BeautifulSoup(content, 'html.parser')

        if depth == 0:
            return

        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            absolute_url = urljoin(url, href)
            webdir(absolute_url, depth - 1, indent + 1, visited)
    except requests.exceptions.RequestException:
        return

In [20]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question 8

In [38]:
import sqlite3

# Connect to the database (creates a new database if it doesn't exist)
conn = sqlite3.connect('weathers_data.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table to store weather data
cursor.execute('''CREATE TABLE IF NOT EXISTS weathers (
                    city TEXT,
                    country TEXT,
                    season TEXT,
                    temperature REAL,
                    rainfall REAL
                )''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weathers VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()
conn.close()

a) All the temperature data.

In [39]:
# Connect to the database
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute('SELECT temperature FROM weathers')
temperature_data = cursor.fetchall()

conn.close()

print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition.

In [40]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute('SELECT DISTINCT city FROM weathers')
cities = cursor.fetchall()

conn.close()

print("Cities:", cities)

Cities: [('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [42]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM weathers WHERE country = "India"')
india_records = cursor.fetchall()
print("Records for India:")

conn.close()

for record in india_records:
    print(record)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records.

In [43]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM weathers WHERE season = 'Fall'")
fall_records = cursor.fetchall()

conn.close()

for record in fall_records:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e  The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [44]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute('''SELECT city, country, season
                  FROM weathers
                  GROUP BY city, country, season
                  HAVING AVG(rainfall) BETWEEN 200 AND 400''')
rainfall_range_records = cursor.fetchall()

conn.close()

for record in rainfall_range_records:
    print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:

In [46]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute('''SELECT city, country
                  FROM weathers
                  WHERE season = 'Fall'
                  GROUP BY city, country
                  HAVING AVG(temperature) > 20
                  ORDER BY AVG(temperature) ASC''')
average_temp_records = cursor.fetchall()

conn.close()

for record in average_temp_records:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.

In [47]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()

cursor.execute("SELECT SUM(rainfall) FROM weathers WHERE city = 'Cairo'")
total_rainfall = cursor.fetchone()[0]

conn.close()

print(total_rainfall)

27.6

h) The total rainfall for each season

In [49]:
conn = sqlite3.connect('weathers_data.db')
cursor = conn.cursor()


cursor.execute('''SELECT season, SUM(rainfall)
                  FROM weathers
                  GROUP BY season''')
season_rainfall = cursor.fetchall()

conn.close()

for record in season_rainfall:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']:

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words):

In [33]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word):

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
word_info = [[word.upper(), word.lower(), len(word)] for word in words] 
print(word_info, end= " ")

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters):

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
long_words = [word for word in words if len(word) >= 4]   #condition
print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']